@charset "UTF-8";

.tools {
    padding-top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.innerTools {
    padding: 15px 0px;
    max-width: 80vw;
    min-width: 70vw;
    border-top: 2px solid #E9E9E9;
    border-bottom: 2px solid #E9E9E9;
}

.innerTools img {
    padding: 0 7px;
    width: 65px;
    height: 65px;
}

.innerTools img:hover {
    opacity: 0.5;
}