@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

    .KW3 { font-family: "Hiragino Kaku Gothic Pro W3", "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3"; }
    .KW6 { font-family: "Hiragino Kaku Gothic Pro W6", "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W6"; }
    .KW8 { font-family: "Hiragino Kaku Gothic Std W8", "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Std W8"; }
    .MW4 { font-family: "Hiragino Maru Gothic Pro W4", "ãƒ’ãƒ©ã‚®ãƒŽä¸¸ã‚´ Pro W4"; }
    .MW3 { font-family: "Hiragino Mincho Pro W3", "ãƒ’ãƒ©ã‚®ãƒŽæ˜Žæœ Pro W3"; }
    .MW6 { font-family: "Merriweather", serif; }